.hidden {
  display: none;
}

label:after {
  content: ":";
}

.spinner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.spinner img {
  display: block;
  margin: 300px auto;
}

.error {
  color: red;
  font-weight: bold;
}

.item_checkbox input {
  vertical-align: top;
}

.item_name:after {
  content: " • "
}

.item_due_at:before {
  content: "Due "
}

.item_delete a {
  position: relative;
  z-index: 1;
}

.item_delete a span {
  display: inline-block;
  height: 16px;
  width: 16px;
}

.item_delete a object {
  position: relative;
  z-index: -1;
}

.item_delete img, .item_delete object {
  vertical-align: top;
  height: 100%;
  width: 100%;
}

footer {
  font-size: 12px;
}